<div class="content">
<%# <div class="head"> %>
    <div class="contact__right">
      <%# <i class="fas fa-bars"></i> %>
      <a class="backbtn" href="/mains/" ><i class="fas fa-angle-double-left"></i></a>
    </div>
<%# </div> %>
<div class="about-label">【プログラミングに対する関心】</div>
<div class="about-cont">私の生まれ育った地域は農地の多い田舎で、農業就業者の高齢化や地域の過疎化に歯止めがかからない状況になっています<br>
&emsp;これらの状況から抜け出す方法を考えた結果、IT技術を駆使した省力化や農作物の直接売買に近い取引方法により
若い人にとっても、魅力ある職業の１つにならないかと考えるようになったのがきっかけです<br>
<br>
&emsp;実際にプログラミングを学び初めてからは、web上にあるデーター収集や、個人売買用の決済ページ、
さらには工業利用として遠隔地で生産された部品の詳細情報（サイズなど）の授受など、
使える場所が多くあることに気づき、ますます魅力を感じるようになりました<br><br>
&emsp;プログラミングには人の喜びや楽しさを叶える可能性が多く存在します<br>
インターネットを通じて 多くの人に「便利になった」「楽しみが増えた」と思ってもらえるような仕事ができたら嬉しいなと思っています！</div>
</div>