
<div class="content">
<%# <div class="head"> %>
    <div class="contact__right">
      <%# <i class="fas fa-bars"></i> %>
      <a class="backbtn" href="/mains/" ><i class="fas fa-angle-double-left"></i></a>
    </div>
<%# </div> %>

<div class="contact">contact</div>
<div class="contact__email">
e-mail: efficientcycle[@]gmail.com<br>
＊メールアドレスの[]は省略してください
</div>
<div class="contact__tel">tel: 050-7123-0356 </div>
<div class="contact__address">address: 〒454-0052 愛知県名古屋市中川区花塚町３−３９ </div>
<div class="contact__name">水谷 友彦__Tomohiko Mizutani </div>
</div>