<div class="hi-header">
    <div class="hi-header__up" >
      <div class="hi-header__up__left" >
      <img src="https://it-trend.jp/img/gnavi2/logo200_50.png" alt="logo" class="hi-header__up__left">
      
        <%# <div class="hi-header__up__left1" >◎ITトレンド
        </div>
        <div class="hi-header__up__left2" >ITサイトの比較・資料請求サイト
        </div> %>
      </div>
      <div class="hi-header__up__right" >
        <div class="hi-header__up__right1" >資料請求リスト
        </div>
        <div class="hi-header__up__right2" >0件
        </div>
        <div class="hi-header__up__right3" >無料資料請求フォームへ
        </div>
      </div>
    </div>
    <div class="hi-header__mid" >
      <div class="hi-header__mid1" >ホーム
      </div>
      <div class="hi-header__mid1" >カテゴリーから探す
      </div>
      <div class="hi-header__mid2" >ランキングから探す
      </div>
      <div class="hi-header__mid1" >記事を読む
      </div>
      <div class="hi-header__mid3" >初めての方へ
      </div>
    </div>

    <div class="hi-header__low" >
      <div class="hi-header__low1" >IT製品 比較TOP 》
      </div>
      <div class="hi-header__low1" >人事 》
      </div>
      <div class="hi-header__low1" >勤怠管理システム・就業管理システム 》
      </div>
      <div class="hi-header__low1" >勤怠管理システム・就業管理システムのランキング 》
      </div>
      <div class="hi-header__low1" >勤怠管理システム・就業管理システムの上半期ランキング2019
      </div>
    </div>
</div>

<img src="https://it-trend.jp/img/annual/bg_2017-firsthalf.png" alt="backgroundpic" class="body_backpic">

<div class="hi-body">
  
  <div class="hi-body__up">
    <div class="hi-body__up__left">
    <img src="https://it-trend.jp/img/award/2019-firsthalf/logo.png" alt="backgroundpic" class="hi-body__up__left">
    </div>
    <div class="hi-body__up__right">
      <div class="hi-body__up__right1">ITトレンド上半期ランキング2019
      </div>
      <div class="hi-body__up__right2">勤怠管理システム・就業管理システム
      </div>
      <div class="hi-body__up__right3">2019年上半期、ITトレンドでユーザーから最もお問い合わせが多かった製品を発表する「ITトレンド上半期ランキング」。ユーザーに最も支持された製品を紹介します。
      </div>
      <div class="hi-body__up__right4">※ランキング結果は2019年1月1日～5月31日までの期間の資料請求数をもとに集計しています。
      </div>
    </div>
  </div>
  <div class="hi-body__cont">
    <div class="hi-body__cont__up">
      <div class="hi-body__cont__up1">上半期ランキング
      </div>
      <div class="hi-body__cont__up2">最新ランキングを見る
      </div>
      <div class="hi-body__cont__up3">全ての製品を見る
      </div>
    </div>
    <div class="hi-body__cont__up4">
    </div>
    <div class="hi-body__cont__up5">
    </div>
    <div class="hi-body__cont__up6">
    </div>
  </div>

</div>