<div class="qa-header">
  <div class="qa-header__cont">
    <span class="qa-header__cont__1">お電話でのお問い合わせはこちら 
      <span class="qa-header__cont__1__arrow">▶︎▶︎</span>
    </span>
    <span class="qa-header__cont__2">平日10:00〜18:00 </span>
    <span class="qa-header__cont__3">
     <i class="fas fa-phone-volume"></i>
     03-0000-0000
    </span>
  </p>
</div>
<div class="qa-header2">
  <img src="https://kaminashi.jp/wp-content/themes/kaminashi2019/images/report/logo.svg" alt="KAMINASHI（カミナシ） | 誰でも使えるペーパレスアプリ" class="qa-header2__logo">

      <nav class="qa-header2__nav">
        <p class="qa-header2__nav__up"><a href="">◀︎ KAMINASHI工程管理のサービスサイトへ</a></p>
        <ul>
          <li><a href="" class="qa-header2__nav__low1">資料請求</a></li>
          <li><a class="qa-header2__nav__low2" href="">お問い合わせ</a></li>
        </ul>
      </nav>
</div>
<div class="qa-cont0">
  <img src="https://kaminashi.jp/wp-content/themes/kaminashi2019/images/report/hero_bg.png" alt="" class="qa-cont0__back">

  <div class="qa-cont1">
    <div class="qa-cont1__left">
      <div class="qa-cont1__left1">
        <div class="qa-cont1__left1__l">KAMINASHIレポート
        </div>
        <div class="qa-cont1__left1__r">2020年2月リリース
        </div>
      </div>
      <div class="qa-cont1__left2">
      現場の品質管理を<br>10倍ラクに
      </div>
      <div class="qa-cont1__left3">
      KAMINASHIレポートは<br>
      日々のチェック、現場レポート作成、監査、カイゼン活動を<br>
      スマート化する品質管理のためのサービスです。
      </div>
      <div class="qa-cont1__left4">
        <a href="" class="qa-cont1__left4__0">
        <p class="qa-cont1__left4__1">1分でわかるカミナシ</p>
        <p class="qa-cont1__left4__2">資料を請求する</p>
        </a>
      </div>
       <div class="qa-cont1__left5">
        <a href="" class="qa-cont1__left5__0">
        お問い合わせはこちら ＞
        </a>
      </div>
    </div>
    <div class="qa-cont1__right">
      <img src="https://kaminashi.jp/wp-content/themes/kaminashi2019/images/report/hero-pc.png" alt="" class="qa-pic2">
    </div>
  </div>
</div>
<div class="slick">
    <div><img src="https://kaminashi.jp/wp-content/themes/kaminashi2019/images/report/hero-pc.png" width="800" height="600" alt="1"></div>
    <div><img src="https://kaminashi.jp/wp-content/themes/kaminashi2019/images/report/hero_bg.png" width="800" height="600" alt="2"></div>
    <div><img src="images/img3.jpg" width="800" height="600" alt="3"></div>
    <div><img src="images/img4.jpg" width="800" height="600" alt="4"></div>
    <div><img src="images/img5.jpg" width="800" height="600" alt="5"></div>
</div>