<div class="content">
    <div class="contact__right">
      <%# <i class="fas fa-bars"></i> %>
      <a class="backbtn" href="/mains/" ><i class="fas fa-angle-double-left"></i></a>
    </div>
<div class="work_text">works</div>
<div class="work">
      <div class="workcont work-1">
      <a href=http://3.114.214.226/ target="_blank"><%= image_tag 'chat.png' , alt: 'chat' , :size =>'273x200', class: 'workpic' %></a>
      </div>
      <div class="workcont work-2">
      <a href=http://52.192.70.14/ target="_blank"><%= image_tag 'mercari.png' , alt: 'chat' , :size =>'273x200', class: 'workpic' %></a>
      </div>
      <div class="workcont work-3">
      <a href=http://3.114.77.156/products/new target="_blank"><%= image_tag 'car-app.png' , alt: 'chat' , :size =>'273x200', class: 'workpic' %></a>
      </div>
      <div class="workcont work-4">
      <a href=http://agr-channel.main.jp/ target="_blank"><%= image_tag 'agr.png' , alt: 'chat' , :size =>'273x200', class: 'workpic' %></a>
      </div>
    </div>
</div>