// body {
//   // height: 1000px;
//   height: 967px;
//   // height: 950px;
//   width: 1450px;
//   // width: 1600px;
//   margin: 0;
//   padding: 0;
  
//   background: image-url('desk.jpg');
//   background-size: cover;
//   // background-size:90% auto;
//   // background-size：　cover;
//   // background-size:contain;
// }
@import "header";
@import "toppage";
@import "footer";
@import 'font_awesome5.css';
